version: '3.9'
services:
  postgres:
    image: postgres
    restart: always
    environment:
      - 'POSTGRES_PASSWORD=SECRET_PASSWORD'
      - 'POSTGRES_DB=app'
    volumes:
      - 'postgres-data:/var/lib/postgres/data'

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - '8080:80'
    volumes:
      - './resources/nginx.conf:/etc/nginx/conf.d/default.conf'
      - 'app-static:/usr/share/nginx/html/static/'

  app:
    build:
      context: app
      args:
       - 'DBMS=postgres'
       - 'AUTH=oauth'
    restart: always
    environment:
      # Database Section
      - 'SQL_ENGINE=django.db.backends.postgresql'
      - 'SQL_HOST=postgres'
      - 'SQL_USER=postgres'
      - 'SQL_PASSWORD=SECRET_PASSWORD'
      - 'SQL_DATABASE=app'

      # Django Section
      - 'ALLOWED_HOSTS=app'
      - 'DEBUG=1'

      # Authentication Section
      - 'OAUTH_CLIENT_ID=wpm.general.example.secshell.net'
      - 'OAUTH_CLIENT_SECRET=8MMdQ5jjvEa2LXn4Aboq-OkxqI-4CWcw'
      - 'OAUTH_URL=https://id.secshell.de/realms/main/protocol/openid-connect/auth'
      - 'SITE_URL=wpm.general.example.secshell.net'

      # Wireguard Peer Manager Section
      - 'WG_DESCRIPTION=vyos.example.secshell.net'
      - 'WG_PUBKEY=OJQcRifGpq/z6le52yo2V8T32JghbJ1x4hX1QYkj8Eo='
      - 'WG_ENDPOINT=111.222.333.4444:51920'
      - 'WG_IPV4_NETWORK=10.0.248.0/22'
      - 'WG_IPV6_PREFIX=2001:db8::/64'
      - 'VYOS_HOSTNAME=vyos.pve2.secshell.net'
    volumes:
      - 'app-static:/home/app/web/static'

volumes:
  postgres-data:
  app-static:
