{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wireguard Peer Manager</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
              integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
              crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css"
              integrity="sha512-N415hCJJdJx+1UBfULt+i+ihvOn42V/kOjOpp1UTh4CZ70Hx5bDlKryWaqEKfY/8EYOu/C2MuyaluJryK1Lb5Q=="
              crossorigin="anonymous" />
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
                crossorigin="anonymous"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.min.js"
                integrity="sha512-mp3VeMpuFKbgxm/XMUU4QQUcJX4AZfV5esgX72JQr7H7zWusV6lLP1S78wZnX2z9dwvywil1VHkHZAqfGOW7Nw=="
                crossorigin="anonymous"></script>
        <script defer src="{% static 'delete_peer.js' %}"></script>
    </head>
    <body class="bg-dark">
        {% include 'navigation.html' %}
        <div class="container">
            <div class="card my-5">
                <div class="card-header" style="text-align: center;">
                    <h5 style="margin-bottom: 0;">Overview</h5>
                </div>
                <div class="card-body">
                {% if not peers %}
                    You haven't created any peers yet. Click <a href="{% url 'manager:add' %}">here</a> to add a new peer.
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Tunnel IP's</th>
                            <th scope="col">Public Key</th>
                            <th scope="col">State</th>
                            <th></th>
                            <th scope="col"><a href="{% url 'manager:add' %}"><i class="fas fa-plus"></i></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for peer in peers %}
                            <tr>
                                <td>{{ peer.name }}</td>
                                <td>
                                    {{ peer.tunnel_ipv4 }}/32<br>
                                    {{ peer.tunnel_ipv6 }}/128<br>
                                </td>
                                <td>{{ peer.public_key }}</td>
                                <td style="width: 10%">
                                    {% if device.valid %}
                                    <span class="badge bg-success">Valid</span>
                                    {% else %}
                                    <span class="badge bg-danger">Invalid</span>
                                    {% endif %}
                                </td>
                                <td style="width: 5%">
                                    <a href="{% url 'manager:show_peer' peer.id %}"><i class="fas fa-eye"></i></a>
                                </td>
                                <td style="width: 5%"><a href="#" onclick="deletePeer({{ peer.id }}, {{ peers|length }});">
                                    <i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
