{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Wireguard Peer Manager</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
              integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css"
              integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"
                integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/js/bootstrap.min.js"#}
{#                integrity="sha512-Hqe3s+yLpqaBbXM6VA0cnj/T56ii5YjNrMT9v+us11Q81L0wzUG0jEMNECtugqNu2Uq5MSttCg0p4KK0kCPVaQ=="#}
{#                crossorigin="anonymous"#}
{#                referrerpolicy="no-referrer"></script>#}
        <script defer src="{% static 'wireguard.js' %}"></script>
        <script defer src="{% static 'wpm.js' %}"></script>
    </head>
    <body class="bg-dark">
        {% include 'navigation.html' %}
        <div class="container">
            <div class="card my-5">
                <div class="card-header" style="text-align: center;">
                    <h5 style="margin-bottom: 0;">Wireguard Peer Manager</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Tunnel IPs</th>
                                <th scope="col">Public Key</th>
                                <th scope="col">State</th>
                                <th></th>
                                <th scope="col">
                                    <a href="javascript:void(0);" onclick="openAddPeerModal()">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="showConfigModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Show Wireguard Configuration</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="showPeerBody">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addPeerModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Wireguard Peer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            {% csrf_token %}
                            <p>
                                A new keypair has been generated.
                                You need to save the following private key NOW, otherwise it will be gone!<br>
                                Private Key: <code id="addPeerPrivateKey"></code>
                            </p>
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text"
                                               placeholder="Name"
                                               class="form-control"
                                               maxlength="32"
                                               pattern="^[A-Za-z0-9]{1,32}$"
                                               required=""
                                               id="addPeerModalName">
                                        <label for="name">Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text"
                                               placeholder="Public Key"
                                               class="form-control"
                                               maxlength="44"
                                               pattern="^[A-Za-z0-9+/]{43}=$"
                                               required=""
                                               id="addPeerModalPublicKey">
                                        <label for="local_port">Public Key</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button id="addPeerButton" class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
